/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gotham';
  src: url(font/GothamBook.ttf);
}

@font-face {
  font-family: 'Gotham2';
  src: url(font/GothamLight.ttf);

}

@font-face {
  font-family: 'Gotham Bold';
  src: url(font/Gotham-Bold.otf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url(font/Montserrat-Bold.ttf);
}
/* navbar.css */

/* Reset default margin and padding */



/* Add a media query for screens with a maximum width of 700px (iPhone 13 width) */
@media (max-width: 700px) {

  body {
    background-color: #000;
  }

  /*Nav Section */

  .navbar {
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 3;
  
  }

  .navbar-link {
    position: relative;
    text-decoration: none;
    color: #F8F8F8;
    font-size: 16px;
    font-weight: bold;
  }
  
  .navbar-link:hover {
    color: black;
  }

  .navbar-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    transform: translate(-12.5%, -36%);
    width: calc(100% + 20px);
    height: calc(100% + 40px);
    transition: opacity 0.3s ease;
    z-index: -1;
    pointer-events: none;
  }

  /* Add this CSS rule for the font color transition on hover */
.navbar-link:hover::before {
  opacity: 1;
  transform: translate(-12.5%, -36%) scale(1.05);
}

/* Modify the CSS rule for the scroll effect */
.navbar-scrolled {
  background-color: rgb(255, 255, 255);
  border-bottom: .5px solid rgb(241, 241, 241);
}

.navbar-scrolled .navbar-link::before {
  background-color: black;
}

/* Add this CSS rule for the font color transition on hover when scrolled */
.navbar-scrolled .navbar-link:hover {
  color: black;
}

/* Style the navbar logo */
.navbar-logo {
  width: auto;
}

.navbar-logo a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
  letter-spacing: 3px;
}

/* Style the navbar items */
.navbar-item {
  display: inline-block;
  margin-left: 20px;
  font-family: 'Gotham2';
  
}

/* Hero Section */
.hero {
  padding: 200px 0px;
  background-color: black;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 28px;
  letter-spacing: 5px;
  font-family: 'Montserrat';
}

.hero p {
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 40px;
  font-family: 'Montserrat';
}

.cta-button {
  display: inline-block;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Montserrat';
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 20px;
  padding: 15px 20px;
  font-size: 14px;
}

.cta-button:hover {
  background-color: #fff;
  color: #000;
}


.box-content {
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column; /* Add this line */
  display: flex;
  align-items: center;
  justify-content: center; /* Updated alignment */
  background-color: rgba(0, 0, 0, 0.6);
  gap: 20px;
  
}

.box-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 100vh;
  }

.box-title {
  color: #fff;
  text-align: center;
  font-size: 18px;
  margin-left: 0;
  font-family: 'Montserrat';
}

.box-description {
  color: #fff;
  font-size: 14px;
  padding-right: 2px;
  padding-left: 2px;
  line-height: 30px;
  text-align: center;
  font-family: 'Montserrat';
}

.box-learn-more {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 9px;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 12px;
  margin-left: 0;
  margin-top: 10px;

}

.box-learn-more:hover {
  background-color: #fff;
  transition: 0.5s;
  color: #000;
  }

  .brown {
    background-image: url(images/brownfield.jpg);
    background-size: cover;
  }
  
  .water {
    background-image: url(images/water3.webp);
    background-size: cover;
  }
  
  .its {
    background-image: url(images/its5.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .grid {
    background-image: url(images/grid1.png);
    background-size: cover;
  }
  
  .connect {
    background-image: url(images/connect1.jpg);
    background-size: cover;
  }
  
  .growth {
    background-image: url(images/walk1.jpg);
    background-size: cover;
  }
  
  .green {
    background-image: url(images/park.webp);
    background-size: cover;
  }
  
  .urban {
    background-image: url(images/sustainable-construction.jpg);
    background-size: cover;
  }
  
  .climate {
    background-image: url(images/climate.webp);
    background-size: cover;
  }
  
  .tech {
    background-image: url(images/server.jpg);
    background-size: cover;
  }

/* Footer Section */
.footer {
  padding: 10px 0;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}

.footer-links li {
  margin: 0 5px;
  display: inline-block;
}

.footer-info p {
  font-size: 12px;
  margin-bottom: 10px;
}

.footer-social a {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-links a {
  font-size: 12px;
  color: #fff;
  font-family: 'Gotham Bold';
  text-decoration: none;
}


}

@media (min-width: 700px) {

  body {
    background-color: #000;
  }

  /*Nav Section */

  .navbar {
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 3;
  
  }

  .navbar-link {
    position: relative;
    text-decoration: none;
    color: #F8F8F8;
    font-size: 16px;
    font-weight: bold;
  }
  
  .navbar-link:hover {
    color: black;
  }

  .navbar-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    transform: translate(-12.5%, -36%);
    width: calc(100% + 20px);
    height: calc(100% + 40px);
    transition: opacity 0.3s ease;
    z-index: -1;
    pointer-events: none;
  }

  /* Add this CSS rule for the font color transition on hover */
.navbar-link:hover::before {
  opacity: 1;
  transform: translate(-12.5%, -36%) scale(1.05);
}

/* Modify the CSS rule for the scroll effect */
.navbar-scrolled {
  background-color: rgb(255, 255, 255);
  border-bottom: .5px solid rgb(241, 241, 241);
}

.navbar-scrolled .navbar-link::before {
  background-color: black;
}

/* Add this CSS rule for the font color transition on hover when scrolled */
.navbar-scrolled .navbar-link:hover {
  color: black;
}

/* Style the navbar logo */
.navbar-logo {
  width: auto;
}

.navbar-logo a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
  letter-spacing: 3px;
}

/* Style the navbar items */
.navbar-item {
  display: inline-block;
  margin-left: 20px;
  font-family: 'Gotham2';
  
}

/* Hero Section */
.hero {
  padding: 200px 0px;
  background-color: black;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 40px;
  letter-spacing: 10px;
  font-family: 'Montserrat';
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
  margin-top: 50px;
  font-family: 'Montserrat';
}

.cta-button {
  display: inline-block;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Montserrat';
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 14px;
}

.cta-button:hover {
  background-color: #fff;
  color: #000;
}


.box-content {
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column; /* Add this line */
  display: flex;
  align-items: center;
  justify-content: center; /* Updated alignment */
  background-color: rgba(0, 0, 0, 0.6) ;
  gap: 20px;
}

.box-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 100vh;
  }

.box-title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  margin-left: 0;
  font-family: 'Montserrat';
}

.box-description {
  color: #fff;
  font-size: 17px;
  padding-right: 100px;
  padding-left: 100px;
  line-height: 40px;
  text-align: center;
  font-family: 'Montserrat';
}

.box-learn-more {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 9px;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 12px;
  margin-left: 0;
  margin-top: 10px;

}

.box-learn-more:hover {
  background-color: #fff;
  transition: 0.5s;
  color: #000;
}

.brown {
  background-image: url(images/brownfield.jpg);
  background-size: cover;
}

.water {
  background-image: url(images/water3.webp);
  background-size: cover;
}

.its {
  background-image: url(images/its5.jpg);
  background-size: cover;
}

.grid {
  background-image: url(images/grid1.png);
  background-size: cover;
}

.connect {
  background-image: url(images/connect1.jpg);
  background-size: cover;
}

.growth {
  background-image: url(images/walk1.jpg);
  background-size: cover;
}

.green {
  background-image: url(images/park.webp);
  background-size: cover;
}

.urban {
  background-image: url(images/sustainable-construction.jpg);
  background-size: cover;
}

.climate {
  background-image: url(images/climate.webp);
  background-size: cover;
}

.tech {
  background-image: url(images/server.jpg);
  background-size: cover;
}

.partnerships {
  background-color: #1d1d1d;
  background-size: cover;
}

.investors {
  background-color: #000; 
  background-size: cover;
}
/* Footer Section */
.footer {
  padding: 10px 0;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}

.footer-links li {
  margin: 0 5px;
  display: inline-block;
}

.footer-info p {
  font-size: 12px;
  margin-bottom: 10px;
}

.footer-social a {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-links a {
  font-size: 12px;
  color: #fff;
  font-family: 'Gotham Bold';
  text-decoration: none;
}


}