/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: 'Gotham';
    src: url(font/GothamBook.ttf);
  }
  
  @font-face {
    font-family: 'Gotham2';
    src: url(font/GothamLight.ttf);
  
  }

  @font-face {
    font-family: 'Gotham Bold';
    src: url(font/Gotham-Bold.otf);
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url(font/Montserrat-Regular.ttf);
  }

  @font-face {
    font-family: 'Montserrat Bold';
    src: url(font/Montserrat-Bold.ttf);
  }
  /* navbar.css */
  
  /* Reset default margin and padding */
  body, nav, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Gotham';
  }

  body {
    background-color: black;
  }

  
  /* Style the navbar */
  .navbar {
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 3;

  }

 /* Add this CSS rule for the hover effect on navbar links */
.navbar-link {
    position: relative;
    text-decoration: none;
    color: #F8F8F8;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .navbar-link:hover {
    color: black;
  }
  
  .navbar-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    transform: translate(-12.5%, -36%);
    width: calc(100% + 20px);
    height: calc(100% + 40px);
    transition: opacity 0.3s ease;
    z-index: -1;
    pointer-events: none;
  }
  
  /* Add this CSS rule for the font color transition on hover */
  .navbar-link:hover::before {
    opacity: 1;
    transform: translate(-12.5%, -36%) scale(1.05);
  }
  
  /* Modify the CSS rule for the scroll effect */
  .navbar-scrolled {
    background-color: rgb(255, 255, 255);
    border-bottom: .5px solid rgb(241, 241, 241);
  }

  .navbar-scrolled .navbar-link::before {
    background-color: black;
  }
  
  /* Add this CSS rule for the font color transition on hover when scrolled */
  .navbar-scrolled .navbar-link:hover {
    color: black;
  }
  


 
  
  /* Style the navbar logo */
  .navbar-logo {
    width: auto;
  }

  .navbar-logo a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    letter-spacing: 3px;
  }
  
  /* Style the navbar menu */
  .navbar-menu {
    list-style-type: none;
  }
  
  /* Style the navbar items */
  .navbar-item {
    display: inline-block;
    margin-left: 20px;
    font-family: 'Gotham2'
  }
  
 /* Add styles to hide the checkbox */
.navbar-toggle {
  display: none;
}

/* Add styles to the hamburger icon */
.navbar-toggle-label {
  display: none;
  color: #FFF;
}



/* Rest of your existing navbar styles */


  



  



  
  /*Styling for the Hero Section */
  
  /* Hero Section */
  .hero {
    background-color: black;
    color: #fff;
    padding: 100px 0;
    text-align: center;
    position: relative;
    top: 0;

  }
  
  .hero-content {
    max-width: 100%;
    margin: auto;
    position: relative;

  }
  
  .hero h1 {
    font-family: 'Montserrat';
    letter-spacing: 10px;
    font-size: 40px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 50px;
    font-family: 'Gotham2';
  }



  
  .cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .cta-button:hover {
    background-color: #fff;
    color: #000;
    font-family: 'Gotham2';
  }

  /*test*/
  #boxes {
    padding: 80px 0;
    background-color: #000;
}





.mechanical {
    background-image: url(images/gas.jpg);
    background-size: cover;
}

.electric {
    background-image: url(images/connect4.png);
    background-size: cover;
}

.industrial {
    background-image: url(images/indust.webp);
    background-size: cover;
}

.chemical {
    background-image: url(images/chemistry.jpeg);
    background-size: cover;
}

.civil {
    background-image: url(images/civil.jpg);
    background-size: cover;
}

.join {
  background-image: url(images/engine3.jpg);
  background-size: cover;
}

.box {
  width: 100%;
  margin: 0px 0;
  position: relative;
}



.box-overlay {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.box-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Add this line */
  align-items: flex-start; /* Updated alignment */
  justify-content: center; /* Updated alignment */
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.3s ease;
}




.box-title {
  color: #fff;
  font-size: 24px;
  text-align: left; /* Updated alignment */
  margin-left: 10px; /* Add this line for spacing */
}

.box-description {
  color: #fff;
  font-family: 'Gotham2';
  padding-right: 400px;
  line-height: 27px;
}

.box-learn-more {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  border-radius: 9px;
  padding: 20px 30px;
  
  font-family: 'Gotham';
  margin-left: 10px; /* Add this line for spacing */
  margin-top: 10px; /* Add this line for spacing */
}

.box-learn-more:hover {
  background-color: #fff;
  transition: 0.5s;
  color: #000;
}


.box:hover img {
  transform: scale(1.1);
}

.darken {
  filter: brightness(10%)
}

  /*test*/
  
  /* About section styles */
#about {
  padding: 80px 0;
  background-image: url(images/spaceagain.jpg);
  text-align: center;
}

#about h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.letter {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}

.letter-content p {
  margin-bottom: 20px;
  line-height: 30px;
}

.letter-content p:last-child {
  margin-bottom: 0;
}

  
  
  /* Footer Section Styling */
  
  .footer {
    background-color: #000000;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .footer-links li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .footer-links a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .footer-info p {
    margin-bottom: 10px;
  }
  
  .footer-social {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-social li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .footer-social a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
  }
  
  /**/
  
  /* Add a media query for screens with a maximum width of 375px (iPhone 13 width) */
@media (max-width: 700px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    /* Reset default margin and padding */
    body, nav, ul, li {
      margin: 0;
      padding: 0;
      font-family: 'Gotham';
    }

    /* Style the navbar */
    .navbar {
      background-color: black;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      position: sticky;
      top: 0px;
      left: 0;
      width: 100%;
      z-index: 3;
  
    }
  
   /* Add this CSS rule for the hover effect on navbar links */
  .navbar-link {
      position: relative;
      text-decoration: none;
      color: #F8F8F8;
      font-size: 16px;
      font-weight: bold;
      transition: color 0.3s ease;
    }
  
    .navbar-link:hover {
      color: black;
    }
    
    .navbar-link::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      opacity: 0;
      transform: translate(-12.5%, -36%);
      width: calc(100% + 20px);
      height: calc(100% + 40px);
      transition: opacity 0.3s ease;
      z-index: -1;
      pointer-events: none;
    }
    
    /* Add this CSS rule for the font color transition on hover */
    .navbar-link:hover::before {
      opacity: 1;
      transform: translate(-12.5%, -36%) scale(1.05);
    }
    
    /* Modify the CSS rule for the scroll effect */
    .navbar-scrolled {
      background-color: rgb(255, 255, 255);
      border-bottom: .5px solid rgb(241, 241, 241);
    }
  
    .navbar-scrolled .navbar-link::before {
      background-color: black;
    }
    
    /* Add this CSS rule for the font color transition on hover when scrolled */
    .navbar-scrolled .navbar-link:hover {
      color: black;
    }
    
  
  
   
    
    /* Style the navbar logo */
    .navbar-logo {
      width: auto;
    }
  
    .navbar-logo a {
      text-decoration: none;
      color: white;
      font-family: 'Montserrat';
      letter-spacing: 3px;
    }
    
    /* Style the navbar menu */
    .navbar-menu {
      list-style-type: none;
    }
    
    /* Style the navbar items */
    .navbar-item {
      display: inline-block;
      margin-left: 20px;
      font-family: 'Gotham2'
    }
    
/* Add styles to the hamburger icon and checkbox */
.navbar-toggle {
  display: none;
}

.navbar-toggle-label {
  display: block;
  color: #FFF;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

/* Add styles to show the menu when the checkbox is checked */
.navbar-toggle:checked ~ .navbar-menu-container {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: black;
  z-index: 99; /* Ensure the menu appears on top of other content */
}

/* Add styles to hide the menu by default */
.navbar-menu-container {
  display: none;
}

.navbar-menu {
  list-style-type: none;
  display: none; /* Hide the menu items by default */
}

/* Add additional styles for the navbar items */
.navbar-item {
  display: block;
  margin: 10px 0;
  text-align: center; /* Align the menu items to the right */
}

/* Show the menu items when the hamburger menu is checked */
#navbar-toggle:checked ~ .navbar-menu-container .navbar-menu {
  display: block;
}

/* Adjust the positioning of the menu items */
.navbar-menu-container {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: black;
  padding: 10px 0;
  z-index: 2;
}

.navbar-link {
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
}

/* Rest of your existing navbar styles */

 

  
 


  /* Hero Section */


  /* Hero Section */
  .hero {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 100px 0;
    text-align: center;
    position: relative;
    top: 0;

  }
  
  .hero-content {
    max-width: 100%;
    margin: auto;
    position: relative;

  }
  
  .hero h1 {
    font-family: 'Montserrat';
    letter-spacing: 10px;
    font-size: 30px;
  }
  
  .test {
    font-size: 18px;
    margin-bottom: 40px;
    color: #d6d6d6;
    margin-top: 50px;
    font-family: 'Gotham2' Arial, Helvetica, sans-serif ;
  }



  
  .cta-button {
    display: inline-block;
    padding: 12px 24px;
    padding-top: 25px;
    background-color: #000000;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .cta-button:hover {
    background-color: #fff;
    color: #000;
    font-family: 'Gotham2';
  }

 
  /* Boxes Section */
  #boxes {
    padding: 0px 0;
  }

  .box {
    height: 100vh;
  }
  .box-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Add this line */
    align-items: center; /* Updated alignment */
    justify-content: center; /* Updated alignment */
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.3s ease;
  }


  .box-overlay {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .box-title {
    font-size: 18px;
    margin-left: 0;
  }

  .box-description {
    font-size: 17px;
    padding-right: 20px;
    line-height: 40px;
    text-align: center;
  }

  .box-learn-more {
    display: inline-block;
    padding: 15px 20px;
    font-size: 12px;
    margin-left: 10px; /* Add this line for spacing */
    margin-top: 10px; /* Add this line for spacing */
   
    
  }

  .mechanical {
    background-image: url(images/gas.jpg);
    background-size: cover;
    
}

.electric {
    background-image: url(images/connect4.png);
    background-size: cover;
    background-position: center;
}

.industrial {
    background-image: url(images/indust.webp);
    background-size: cover;
    background-position: center;
}

.chemical {
    background-image: url(images/chemistry.jpeg);
    background-size: cover;
    background-position: center;
}

.civil {
    background-image: url(images/civil.jpg);
    background-size: cover;
    background-position: center;
}

.join {
  background-image: url(images/engine3.jpg);
  background-size: cover;
  background-position: center;
}

  /* Footer Section */
  .footer {
    padding: 10px 0;
  }

  .footer-links li {
    margin: 0 5px;
  }

  .footer-info p {
    font-size: 12px;
  }

  .footer-social a {
    font-size: 16px;
  }

  .footer-links a {
    font-size: 12px;
    color: #fff;
    font-family: 'Gotham Bold';
  }

  /* About Section */


 

  .letter-content p {
    margin-bottom: 10px;
    line-height: 25px;
  }

  .letter {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: c;
  }

}
  