/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gotham';
  src: url(font/GothamBook.ttf);
}

@font-face {
  font-family: 'Gotham2';
  src: url(font/GothamLight.ttf);

}

@font-face {
  font-family: 'Gotham Bold';
  src: url(font/Gotham-Bold.otf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url(font/Montserrat-Bold.ttf);
}
/* navbar.css */




/* Style the navbar */
.navbar {
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 3;

}

/* Add this CSS rule for the hover effect on navbar links */
.navbar-link {
  position: relative;
  text-decoration: none;
  color: #F8F8F8;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: black;
}

.navbar-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  transform: translate(-12.5%, -36%);
  width: calc(100% + 20px);
  height: calc(100% + 40px);
  transition: opacity 0.3s ease;
  z-index: -1;
  pointer-events: none;
}

/* Add this CSS rule for the font color transition on hover */
.navbar-link:hover::before {
  opacity: 1;
  transform: translate(-12.5%, -36%) scale(1.05);
}

/* Modify the CSS rule for the scroll effect */
.navbar-scrolled {
  background-color: rgb(255, 255, 255);
  border-bottom: .5px solid rgb(241, 241, 241);
}

.navbar-scrolled .navbar-link::before {
  background-color: black;
}

/* Add this CSS rule for the font color transition on hover when scrolled */
.navbar-scrolled .navbar-link:hover {
  color: black;
}





/* Style the navbar logo */
.navbar-logo {
  width: auto;
}

.navbar-logo a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
  letter-spacing: 3px;
}



/* Style the navbar items */
.navbar-item {
  display: inline-block;
  margin-left: 20px;
  font-family: 'Gotham2'
}





/* Rest of your existing navbar styles */











/*Styling for the Hero Section */

/* Hero Section */
.hero {
  color: #000000;
  padding: 100px 0;
  text-align: center;
  position: relative;

}


.hero h1 {
  letter-spacing: 10px;
  font-size: 40px;
}

.hero p {
  font-size: 18px;
}




.cta-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.cta-button:hover {
  background-color: #fff;
  color: #000;
  font-family: 'Gotham2'
}



/* About Section */




.letter-content p {
  margin-bottom: 10px;
  line-height: 25px;
}

.letter {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  height: 100%;
}

