.electric {
  background-image: url(images/ev4.avif);
  background-size: cover;
}

.hyper {
  background-image: url(images/hyper1.webp);
  background-size: cover;
}

.magnetic {
  background-image: url(images/maglev.jpg);
  background-size: cover;
}

.propulsion {
  background-image: url(images/pro.jpg);
  background-size: cover;
}

.energy {
  background-image: url(images/energy1.webp);
  background-size: cover;
}

.autonomous {
  background-image: url(images/auto2.jpg);
  background-size: cover;
}

.saftey {
  background-image: url(images/ai.jpg);
  background-size: cover;
}

.sustainability {
  background-image: url(images/wind.webp);
  background-size: cover;
}
.partnerships {
  background-color: #1d1d1d;
  background-size: cover;
}


.investors {
  background-color: #000; 
  background-size: cover;
}