
.its {
  background-image: url(images/its5.jpg);
  background-size: cover;
}

.grid {
  background-image: url(images/grid1.png);
  background-size: cover;
}

.water {
background-image: url(images/water3.webp);
background-size: cover;
}
.connect {
  background-image: url(images/connect1.jpg);
  background-size: cover;
}

.growth {
  background-image: url(images/walk1.jpg);
  background-size: cover;
}

.green {
  background-image: url(images/park.webp);
  background-size: cover;
}

.brown {
  background-image: url(images/brownfield.jpg);
  background-size: cover;
}

.urban {
  background-image: url(images/sustainable-construction.jpg);
  background-size: cover;
}

.climate {
  background-image: url(images/climate.webp);
  background-size: cover;
}

.tech {
  background-image: url(images/server.jpg);
  background-size: cover;
}

.partnerships {
  background-color: #1d1d1d;
  background-size: cover;
}

.industrial {
  background-image: url(images/grid7.webp);
  background-size: cover;
}

.investors {
  background-color: #000; 
  background-size: cover;
}

.solar {
  background-image: url(images/solarpanels.avif);
  background-size: cover;
}
